body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(96,23,6,1) 0%, rgba(198,140,73,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 850px;
  height: 600px;
  margin: 0 auto;
  border-radius: 6px;
  background-image: url(images/field.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10px;
  position: relative;
}
